<form ng-submit="submitCarForm()">
  <input type="text" id="number" ng-model="carForm.number"> Number <br/>
  <input type="text" id="brand" ng-model="carForm.brand"> Brand <br/>
  <input type="text" id="status" ng-model="carForm.status"> Status <br/>
  <input type="text" id="location" ng-model="carForm.location"> Location <br/>
  <input type="text" id="averageSpeed" ng-model="carForm.averageSpeed"> Average Speed <br/>
  <input type="text" id="carryingCapacity" ng-model="carForm.carryingCapacity"> Carrying Capacity <br/>
  <input type="text" id="fuelConsumption" ng-model="carForm.fuelConsumption"> Fuel Consumption <br/>
  
  <input type="submit" value="Submit Form">
  <a href="#/car">Cancel</a>
</form>
